<head>
    <meta charset="utf-8">
    <title>
        {% if page.title == "Home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" media="all" href="https://rsms.me/inter/inter.css" type="text/css">
    <link rel="stylesheet" media="all" href="https://rsms.me/inter/inter-display.css" type="text/css">
    <link rel="stylesheet" media="all" href="/assets/css/fonts/ibm-plex-mono.css" type="text/css">
    <link rel="stylesheet" media="all" href="/assets/css/base.css" type="text/css">
    <link rel="icon" media="all" type="image/png" href="/assets/images/black_inf.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="HYan">
</head>