<!-- <!DOCTYPE HTML>
<html lang="en" prefix="og:http://ogp.me/ns#" class="projects">
  <head>
    <meta charset="utf-8">
    <title>Projects • hyan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" media="all" href="https://rsms.me/inter/inter.css" type="text/css">
    <link rel="stylesheet" media="all" href="https://rsms.me/inter/inter-display.css" type="text/css">
    <link rel="stylesheet" media="all" href="/res/fonts/ibm-plex-mono.css" type="text/css">
    <link rel="stylesheet" media="all" href="/res/base.css" type="text/css">
    <link rel="icon" type="image/png" href="/res/black_inf.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="HYAN">
    <meta property="fb:admins" content="728642302">
    <meta property="fb:app_id" content="38027689216">
    <meta property="og:title" content="Projects">
      <meta name="description" content="Projects and experiments &#x25CF; About Projects Blogs">
      <meta property="og:url" content="https://hyan.me/projects/">
    <meta property="og:site_name" content="hyan.me">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_GB" />
    </head>
  <body>
    

    <script async src="/res/main.js?v=20230911184918"></script>
  </body>
</html> -->
